#Tuner {
width:800px;
margin-left:auto;
margin-right:auto;
margin-top:100px;
}


.box {
    width:100px;
    height:100px;
    border-radius:100px;
    margin-left:10px;
    margin-right:10px;
    float:left;
    text-align: center;
    font-size:5.3rem;
    font-family:Arial;
    color:white;
}




#E {
    background-color:#b71c1c;
}

#A {
    background-color:#fdd835;
}

#D {
    background-color: #0d47a1;
}

#G {
    background-color:#ffb300
}

#B {
    background-color:#1b5e20;
}

#E2 {
    background-color:#4a148c;
}

#E:hover {
    background-color:#ef9a9a;
    cursor: pointer;
}

#A:hover {
    background-color:#fff9c4;
    cursor: pointer;
}
#D:hover {
    background-color:#bbdefb;
    cursor: pointer;
}
#G:hover {
    background-color:#ffecb3;
    cursor: pointer;
}
#B:hover {
    background-color:#a5d6a7;
    cursor: pointer;
}
#E2:hover {
    background-color:#ce93d8;
    cursor: pointer;
}

